/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* https://land-book.com/websites/33803-expert-it-webflow-html-website-template */

/* MAIN COLOUR: #1864ab */
/* SECOND COLOUR: #a5d8ff */
/* GREY COLOUR: #343a40 */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* GENERAL */

.container {
  padding-top: 24px;
  padding-right: 12px;
  padding-left: 12px;
}

/* NAV */

.nav-sticky-wrapper { 
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 5px solid #a5d8ff;
  background: white;
  padding: 20px;
}

.nav-header {
  flex: 1;
  color: #343a40;
  font-weight: bold;
  font-size: 24px;
}

.nav-button-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-menu {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  color: #343a40;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-button {
  background-color: #1864ab; /* Green */
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nav-button-link {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .nav-button {
    display: none !important;
  }
  .nav-button-link {
    display: none !important;
  }

  .nav-header {
    flex: 2;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Hero */

.hero-container {
  display: grid;
  row-gap: 15px;
  justify-content: center;
  align-content: center;
  height: 500px;
  padding-bottom: 24px;
  border-bottom: 5px solid #a5d8ff;
}

.hero-button-wrapper {
  display: flex;
  justify-content: center;
}

.hero-button {
  background-color: #1864ab; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.hero-button-link {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.hero-header {
  color: #343a40;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}

.hero-subheader {
  color: #343a40;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

/* Services */

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  border-bottom: 5px solid #a5d8ff;
  padding-bottom: 24px;
}

.services-header {
  color: #343a40;
  font-size: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.services-title {
  color: #343a40;
  margin-bottom: 16px;
  font-size: 20px;
}

.services-text {
  color: #343a40;
  font-size: 18px;
  line-height: 1.7;
}

.services-icon {
  stroke: #1864ab;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .services-container {
    display: inline-block;
    border-bottom: 5px solid #a5d8ff;
    padding-bottom: 24px;
  }

  .services-header {
    text-align: left;
  }

  .services-info {
    padding-bottom: 24px;
  }
  .services-info:last-child {
    padding-bottom: 0;
  }
}

/* Menu */
.menu-header {
  color: #343a40;
  font-size: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 80px;
  border-bottom: 5px solid #a5d8ff;
  padding-bottom: 24px;
}

.menu-option {
  display: grid;
  border-radius: 12px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.highlighted {
  border-radius: 12px;
  box-shadow: 0 20px 50px 20px #e9ecef;
}

.menu-option img {
  width: 100%;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.menu-option-box {
  padding: 32px;
}

.menu-option-title {
  margin-bottom: 24px;
  font-size: 20px;
  color: #343a40;
}

.menu-option-details {
  list-style: none;
  margin-bottom: 48px;
}

.menu-option-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  color: #343a40;
}

.menu-option-details li:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .menu-container {
    display: inline-block;
    border-bottom: 5px solid #a5d8ff;
    padding-bottom: 24px;
  }

  .menu-header {
    text-align: left;
  }

  .menu-option {
    margin-bottom: 24px;
  }
}

/* Contact Us */

.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 5px solid #a5d8ff;
  padding-bottom: 24px;
  justify-content: center;
  align-content: center;
}

.contact-header {
  color: #343a40;
  font-size: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.contact-text {
  color: #343a40;
  font-size: 18px;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .contact-header {
    text-align: left;
  }
}

/* Footer */

.footer-copyright {
  color: #343a40;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 12px;
}
